body
{
	background:#cceeff;
	font-size: 125%;
	margin:3%;
}
header{
	background: #666666;
	background: -webkit-linear-gradient(#001a33 0%, #0099e6 100%);
	text-align: center;
    padding-bottom: 15px;
}


 nav{
 	font-variant: small-caps;
 	font-family: Arial;
 	font-size: 150%;
 }
 nav a{
 	display: inline-block;
 	background-color: #ffffff;
	width:22%;
 }

h1 {
	color:#ffffff;
}
h2{
	color:#ffffff;
	background:#0099e6;
}

.half{
	width:45%;
	margin-right: 2%;
	display:inline-block;
	float:left;
}

.whole{
	clear:both;
}

summary{
	font-style:normal;
}

details{
	font-style: italic;
}
footer{
	display: none;
}
