/*body
{
	
	font-size: 125%;
	margin:3%;
	background-image: url("images/coursera.jpg");
	  
}
header{
	background: #666666;
	background: -webkit-linear-gradient(#666666 0%, #00b7ea 100%);
	text-align: center;
    padding-bottom: 15px;
}


 nav{
 	font-variant: small-caps;
 	font-family: Arial;
 	font-size: 150%;
 }
 nav a{
 	display: inline-block;
 	background-color: #ffffff;
	width:22%;
 }

h1 {
	color:#ffffff;
	margin: 5px 10px 3px 8px;

}
h2{
	color: #666666;
	background: #00b7ea;
	    border-width:10px 3px 5px 9px;

}

}
section{
	color:red;
}
.whole{
	width:45%;
	margin-right: 2%;
	display:inline-block;
	float:left;
	color:blue;

}

.half{ background: url("web/images/A.jpg") 20px 50% no-repeat;
color:green;
}

summary{
	font-style:normal;
}

details{
	font-style: italic;
}
footer{
	display: none;
}
--whitney ssm a,whitney ssm b,lucida grande,lucida sans,Verdana,Helvetica,Arial,sans-serif;*/
body
{
	background:#cceeff;
	font-size: 125%;
	margin:3%;
}
header{
	background: #666666;
	background: -webkit-linear-gradient(#001a33 0%, #0099e6 100%);
	text-align: center;
    padding-bottom: 15px;
    }
     nav{
 	font-variant: small-caps;
 	font-family: Arial;
 	font-size: 150%;
 }
 nav a{
 	display: inline-block;
 	background-color: #ffffff;
	width:22%;
 }
 h1 {
	color:#ffffff;
}
h2{
	color:#ffffff;
	background:#0099e6;
}
.half{
	width:45%;
	margin-right: 2%;
	display:inline-block;
	float:left;
}
.whole{
	clear:both;
	}
	summary{
	font-style:normal;}
	footer{
	display: none;}
