h1{
	color:#9f0593;
    background:#f37af5bf;
    text-align: center;
    font-family:"Time New Roman ";
    font font-variant:small-caps;
    font-size: 400%;
    line-height: 50%;
}
header {
	text-align: center;
}
h2{
	color:#d43cd7;
	font-family: Helvetica;
	font-size: 200%;

}
body{
	font-family:Monospace;
	  background-color:#d983e187;
}
details{
	font-style: italic;
}
summary {
	font-style: normal;
}
footer{
	font-family:Monospace;
}
